<div #Menu id="mySidebar" class="sidebar">
  <div #List class ="list animate__animated animate__slideInLeft animate__faster">
     <a class="header" href="#"><i class="fab fa-jedi-order fa-lg"></i><span> Shipment Tracking</span></a>
     <a href="shipments"><span><i class="fas fa-lg fa-truck"></i> Shipments</span></a>
     <a href="clearance brokers"><i class="fas fa-lg fa-user"></i> Clearance Brokers</a>
     <a href="#"><i class="fas fa-lg fa-building"></i> Shipping Companies</a>
     <a href="#"><i class="fas fa-lg fa-warehouse"></i> Storages</a>
     <a href="#"><i class="fas fa-lg fa-users"></i> Purchasing Teams</a>
     <a href="suppliers"><i class="fas fa-lg fa-parachute-box"></i> Suppliers</a>
     <a href="#"><i class="fas fa-lg fa-ship"></i> Ports</a>
     <a href="products"><i class="fas fa-lg fa-box-open"></i> Products</a>
     <a href="#"><i class="fas fa-lg fa-file-alt"></i> Shipments Logs</a>
     <a href="#"><i class="fas fa-lg fa-marker"></i> Status</a>
     <a href="#"><i class="fas fa-lg fa-boxes"></i> Shipment Products</a>
     <a href="currencies"><i class="fas fa-lg fa-dollar-sign"></i> Currencies</a>
  </div>
</div>

<div #Main id="main">
    <div class="polaroid">
        <div class="container">
            <div class= "header">
                <button  class="openbtn" #openBtn (click)="toggle(Menu,Main,List)">&#9776;</button>
              </div>
        </div>
      </div>
</div>

