table {
    width: 100%;
  }

  .mat-row:hover .mat-cell {
    background-color: #D7E9F7;
    cursor: pointer;
  }

button {
  margin: 0.2rem;
  color:white;
 
}


td {
  text-align:center;
}

th.mat-sort-header-sorted {
  color: black;
  
}

