<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container  *ngFor = "let column of displayedColumns; let i = index" matColumnDef={{column}}>
      <th mat-header-cell *matHeaderCellDef> {{ColumnName[i]}} </th>
      <td style='white-space: nowrap' mat-cell *matCellDef="let element" > {{element[column]}}  
         <button *ngIf="column == 'actions'" mat-raised-button color="primary" [ngStyle] = "{'background-color':'#4f46e5'}" (click) ="GetItemToEdit(element)">Edit</button>
         <button *ngIf="column == 'actions'" mat-raised-button color="primary" [ngStyle] = "{'background-color':'#4f46e5'}" (click) ="GetItemToDelete(element)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  

