mat-form-field {
    margin: 0.5rem;
}

button {
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 8rem;
    margin: 1rem;
}

.data-label {
    width: 20rem;
}
.bottom-buttons{
    margin-top: 1.8rem;
}
