@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
h1{
    font-family: 'Varela Round', sans-serif;
}


.buttons {
    display: flex;
    flex-direction: row-reverse;
}

button {
    margin: 1rem;
    color:white;
}