/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sort-header-container{
    display:flex;
    justify-content: center;
  }

  .snackbar-correctly {
    background-color: #01937C;
    color: white;

  }

  .snackbar-error {
    background-color: #DF2E2E;
    color: white;
    
  }